{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<br />
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row align-items-start" style="padding: 10px">
                <div class="col-3">
                    <div class="row align-items-start">
                        <img src="static/img/user/{{ profile.image }}"
                             onerror="this.src='https://mdbootstrap.com/img/new/avatars/8.jpg';"
                             loading="lazy"
                             style="width: auto; height: 100%"
                             class="rounded-circle"/>
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{ profile.full_name }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    Text from User: One of three columns
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block script %}
{% endblock %}
